$susy: (
        columns: 12,
        gutters: 1/30,
        global-box-sizing: border-box,
        debug: (image: hide)
);

#page {
  @include container;
}

#masthead {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  background: $main-nav-color;
  height: $main-nav-size;
  @include span(12 of 12);

  @include breakpoint($bp-medium-min) {

    position: fixed;
    z-index: 100;
    opacity: .92;
  }

}

footer {
  clear: both;
  padding: 2em;
}

.content-area, .widget-area  {
  padding: 1rem;
}


.content-area {
  @include span(12 of 12);
  @include susy-breakpoint($bp-medium-min, $susy) {
    @include span(9 of 12);
    position: relative;
    top: $main-nav-size;
    margin-bottom: $main-nav-size;
  }
}

.widget-area {
  @include span(12 of 12);
  @include susy-breakpoint($bp-medium-min, $susy) {
    @include span(3 of 12 last);
    position: relative;
    top: $main-nav-size;
    margin-bottom: $main-nav-size;
  }

}


.site-branding {
  overflow: hidden;
  width: 200px;
  float: left;
  margin: 0.4em 0.8em;
}

.site-footer {
  background-color: #076274;
}