$susy: (
        columns: 12,
        gutters: 1/30,
        global-box-sizing: border-box,
        debug: (image: hide)
);

#page {
  @include container;
  min-height:100%;
  height:100%;
}

#masthead {
 // box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  background: $header-background-color;
  height: $header-size;
  border-bottom: 1px solid $header-border-color;

  @include span(12 of 12);

  @include breakpoint($bp-medium-min) {
    position: fixed;
    z-index: 100;
    //opacity: .92;
  }

}

.site-content {
  height: auto;
  min-height: 100%;


  &::before {
    content: "";
    display: block;
    height: $content-before-height;
  }
  &::after {
    /* .push must be the same height as footer */
    //height: $content-before-height;
  }
}

.content-area {
  padding: 1em 0.5em 1em 0.5em;
  margin: 0 auto 0 auto;

  @include span(12 of 12);

  @include breakpoint($bp-small-min, $bp-medium-max) {
    padding: 1em 0 1em 0.5em;
    //margin: 0 auto (-$header-size) auto;
  }

  @include susy-breakpoint($bp-medium-min, $susy) {
    @include span(9 of 12);
    padding: 0.5em 0 1em 0.5em;
    //padding: 1em 0 1em 1em;
    //top: $header-size;
    position: relative;
    //margin-bottom: -4.3em;
    min-height:100%;



    //margin-bottom: $header-size;
  }
}

.widget-area {
  padding: 1em 0.5em 1em 0.5em;
  //margin: 0 auto (-$header-size) auto;

  @include span(12 of 12);

  @include susy-breakpoint($bp-medium-min, $susy) {
    @include span(3 of 12 last);
   // margin: 0 auto (-$header-size) auto;
    padding: 0.5em 1em 1em 0.5em;
    position: relative;
    //margin-bottom: -4.3em;
    min-height:100%;

    //margin-bottom: $header-size;
  }

}

.site-branding {
  overflow: hidden;
  //width: 200px;
  float: left;
  margin: 0.6em 1.4em;
}

.site-footer {
  display: block;
  color: $footer-color;
  background-color: $footer_background_color;
  @include span(12 of 12);

}

.clear-push {
 // height: $footer-size;

  @include clearfix();
  @include clearfix-after();

}

.copyright {
  text-align: center;
  padding: 1.5em;
}