@mixin button-base($base-color) {
  //background-color: $background-color;
  color: $base-color;
  border: 2px solid $base-color;

  &:hover, &:focus {
    //background: scale-color($background-color, $lightness: -15%);
    background: $base-color;
    color: #ffffff;
    outline: 0;
  }
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  font-size: 0.9rem;
  color: $button-text-color;
  font-weight: bold;
}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-tag {
  color: $button-text-color;
  border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"], .button-primary {
  @include button-base($button-primary_color);
}

.button-success {
  @include button-base($button-success_color);
}

.button-error {
  @include button-base($button-error_color);
}

.button-warning {
  @include button-base($button-warning_color);
}

.button-link {
  @include button-base($button_link_color);
 // color: #C5F3FC !important;
}

.button-tag {
  //@include button-base($button-tag_color);
  background: $button-tag-color;

  &:hover, &:focus {
    background: scale-color($button-tag-color, $lightness: -15%);
    outline: 0;
  }
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-expanded {
  width: 100%;
}

.button-toggle {
  color: $button-toggle-color;
  font-size: 0.8em;
  padding: 0.3em;
  background: transparent;

  &:focus {
    outline: 0;
  }
}
