@mixin button-base($background-color) {
  background-color: $background-color;

  &:hover, &:focus {
    background: scale-color($background-color, $lightness: -15%);
    outline: 0;
  }
}

button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0;
  padding: 0.85em 1em;
  margin: 0 1rem 1rem 0;
  font-size: 0.9rem;
  color: #fff;
}

.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-tag{
  color: white;
  border-radius: 0;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="submit"], .button-primary {
  @include button-base($primary_color);
}

.button-success {
  @include button-base($success_color);
}

.button-error {
  @include button-base($error_color);
}

.button-warning {
  @include button-base($warning_color);
}

.button-link {
  @include button-base($link_color);
  color: #C5F3FC !important;
}

.button-tag {
  @include button-base($tag_color);
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.button-expanded {
  width: 100%;
}

.button-toggle {
  @include button-base(transparent);
}