input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px $input-border-color;
  transition: all .3s;

  &:focus {
    outline: none;
    border-bottom: solid 2px $secondary-main-color;
  }
}


textarea {
  padding-left: 3px;
  width: 100%;
}

label {
  margin-bottom: 5px;
}