.widget {
  margin: 0 0 1rem;
  //padding-left: 1rem ! important;

  h3 {
    color: #45828E;
    background: $main-nav-color;
    text-align: center;
  }

  /* Make sure select elements fit in widgets. */
  select {
    max-width: 100%;
  }

  ul {
    //padding: 10px 10px;
    list-style: none;
    border-top: 2px solid #45828E;
    margin: 0;
    margin-bottom: 1em;
    padding: 0 10px;

    li {
      padding: 15px 0;
      border-bottom: 2px solid #45828E;
    }

  }
}

/* Search widget. */
.widget_search .search-submit {
  display: none;
}

.tagcloud {
  padding: 0.5em;

  a {
    position: relative;
    display: inline-block;
    font-size: .55rem !important;
    font-weight: 700;
    color: #fff;
    padding: 5px 10px;
    margin: 0px 0px 8px 10px;
    white-space: nowrap;
    text-transform: uppercase;
    background: $tag-color;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      float: left;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      border-radius: 2px;
      background: #fff;
      box-shadow: -1px -1px 2px #004977;
    }

    &:before {
      content: "";
      float: left;
      position: absolute;
      top: 0;
      left: -11px;
      width: 0;
      height: 0;
      border-color: transparent $tag-color transparent transparent;
      border-style: solid;
      border-width: 12px 11px 11px 0;
    }

    &:hover,
    &:focus {
      background: scale-color($tag-color, $lightness: -15%);
      &::before {
        border-right-color: scale-color($tag-color, $lightness: -15%);
      }
    }
  }

}

#recent-post-widget {
  .thumbnail {
    float: left;
    margin: 0 10px 0 0;
  }

  .detail {
   // margin-bottom: 10px;
  }

  a {
    font-weight: bold;
  }

  .post-date {
    display: block;
    font-size: .8em;
  }
}
