$background-color: #f2f5f8;

/* Breakpoints */
$bp-xsmall-min: 482px;
$bp-small-min: 700px;
$bp-medium-min: 899px;
$bp-large-min: 1200px;

$bp-xsmall-max: ($bp-xsmall-min - 1);
$bp-small-max: ($bp-small-min - 1);
$bp-medium-max: ($bp-medium-min - 1);
$bp-large-max: ($bp-large-min - 1);

/* Accessibilty*/
$background-screen-color: #f1f1f1;
$text-screen-color: #21759b;

/* Layout */
$background-hr-color: #ccc;

/* Base (Typography, etc) */
$primary-main-color: #313131;
$secondary-main-color: #10cca9;

$background-pre-color: #eee;
$background-ins-color: #fff9c0;
$border-abbr-color: #666;

/* Fonts */
$font-primary: "Open Sans", Helvetica, sans-serif;
$font-secondary: "PT Serif", Helvetica, sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-body: 1.5;
$font-line-height-pre: 1.6;
$fa-font-path: '../font';

/* Fields */
$text-input-color: #666;
$text-input-focus-color: #111;
$input_focus-color: #45828E;
$border-input-color: #ccc;

/* Links */
$link-color: $secondary-main-color;
$link_hover-color: scale-color($link-color, $lightness: -15%);
$link-visited-color: $link-color;

/* Background */
$background-secondary-color: #ffffff;
//$color_main_nav: #A5ECFA;

/* Header & Menu */
//$main-nav-color: #ffffff;
$header-background-color: #ffffff;
$header-links-color: $link-color;
$header-size: 4.3em;
$header-border-color:#ECECEC;

$logo-color: #ffffff;
$logo-background-color: $secondary-main-color;
$logo-font-family: TROCCHI;

/* Footer */
$footer-color: $primary-main-color;
$footer_background_color: #ffffff;
$footer-size: $header-size;

/* Tags*/
$tag-color: #FF8C41;
$category-color:#6C9ADF;

/* Buttons */

$button-text-color: #ffffff;
$button-toggle-color: $primary-main-color;

$button-primary-color: #4580D6;
$button-success-color: #46EA12;
$button-warning-color: #FFB941;
$button-error-color: #F60022;
$button_link_color: $link-color;
$button-tag-color: $category-color;

/* Sidebar widgets */
$widget-header-color: inherit;
$widget-header-background-color: inherit  ;

/* Pagination */
$pagination-color: #b3b3b3;
$pagination-border-color: #e7e7e7;

/* */
$icon-facebook-color:#3b5998;
$icon-twitter-color: #00aced;
$icon-linkedin-color:#007bb5;
$icon-github-color:#333;

$icon-facebook-hover-color: scale-color($icon-facebook-color, $lightness: 25%);
$icon-twitter-hover-color: scale-color($icon-twitter-color, $lightness: 25%);
$icon-linkedin-hover-color: scale-color($icon-linkedin-color, $lightness: 25%);
$icon-github-hover-color: scale-color($icon-github-color, $lightness: 25%);