.search-form {
  overflow: hidden;
  padding-top: 0.3em;
}

.search-form .search-submit {
  display: none;
}

.site-logo {
  height: 40px;
  width: 40px;
  display: block;
  border-radius: 40px;
  font-size: 20px;
  color: $logo-color;
  background: $logo-background-color;
  line-height: 41px;
  font-family: $logo-font-family;
  text-align: center;

}

.search-container {
  float: right;
  margin-right: 1.5em;

}

.search-click {
  //color:$primary-main-color;
}

.search-bar {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: $header-search-bar;
  background: #fff;
  text-align: left;
  z-index: 100;
  padding: 0 4em;
}

.search-bar-open {
  display: block;
  transform: scale(1);
  opacity: 1;
  animation: anim .3s ease-in-out;
}

.close-search {
  position: absolute;
  display: inline-block;
  right: 2em;
  top: 0;
  text-align: center;
  font-size: 1.4em;
  line-height: 3em;
}

input[type="search"].search-field {
  background: $background-secondary-color;
  display: block;
  margin: 0;
  width: 100%;
  font-size: 1em;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  padding: 10px;
  border: none;
  border-bottom: solid 2px $input-border-color;
  transition: all .3s;

  &:focus {
    outline: none;
    border-bottom: solid 2px $secondary-main-color;
  }
}
