a {
  color: $link-color;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  vertical-align: top;

  &:hover,
  &:focus,
  &:active {
    color: $link-hover-color;
    outline: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:visited {
    //color: $link-visited-color;
  }
}

