.main-navigation {
  /*	clear: both;
      display: block;*/
  // float: right;
  //width: 100%;

  display: block;
  padding-top: 1.2em;
  padding-left: 20em;


  // float: right;
  //@include span(10 of 12 last);
  //margin-top: 22px;
  //margin-bottom: 22px;
}

.menu-container {
  width: auto;
  display: none;
  //float: left;
  //@include span(8 of 12);

  /* ul {
     display: none;
     list-style: none;
     margin: 0;
     padding: 2em;

     ul {
       box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
       float: left;
       position: absolute;
       top: 1.1em;
       left: -999em;
       z-index: 99999;
       line-height: 1.5rem;
       background: $color_secondary-background;

       ul {
         left: -999em;
         top: 0;
       }

       li {
         &:hover > ul,
         &.focus > ul {
           left: 100%;
         }
       }

       a {
         width: 200px;
       }

       :hover > a,
       .focus > a {
       }

       a:hover,
       a.focus {
       }
     }

     li:hover > ul,
     li.focus > ul {
       left: auto;
     }
   }
   li {
     //float: left;
     position: relative;
     // display: inline-block;
     // width: auto;
     margin: 0;
     padding: 0;
     //border-right: 1px dotted #ddd;
     padding-right: 3px;

     &:hover > a,
     &.focus > a {
     }
   }
   a {
     font-weight: bold;
     margin-bottom: 10px;
     display: block;
   }*/

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a {
  }
}

/* Small menu. */

.menu-toggle {
  float: left;
  padding: 0.5em 1em;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

.mobile-menu {
  display: none;

  .header-social-icons {
    display: block;
    text-align: center;
  }
}

.mobile-menu-container {
  padding-top: $size_main_nav;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.1em;
      left: -999em;
      z-index: 99999;
      line-height: 1.5rem;
      background: $color_secondary-background;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
  li {
    //float: left;
    position: relative;
    // display: inline-block;
    // width: auto;
    margin: 0;
    padding: 0;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    color: $color_links;
    font-weight: bold;
    display: block;
    font-size: 2rem;
    padding: 0.2em 0.5em 0.2em 2em;
  }

}

.mobile-menu-open {
  display: block;
  background: $color_secondary-background;
}

@include breakpoint(899px) {
  .menu-toggle {
    display: none;
  }
  .menu-container {
    width: auto;
    display: block;
    ul {
      display: block;
      width: auto;
      float: left;
      padding: 0;
    }

    li {
      position: relative;
      display: inline-block;
      width: auto;
      margin: 0px;
      padding: 0px;
      border-right: 1px dotted #ddd;
      padding-right: 3px;

      &:hover > a,
      &.focus > a {
        color: $color_links_hover;
      }
    }
    a {
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 2px 14px;
      font-size: 1.4rem;
      font-weight: bold;
      color: $color_main_nav_links;
      font-style: normal;
      letter-spacing: 0px;
      margin: 0;
    }
  }
  .mobile-menu {
    display: none;
  }

}

/*.post-navigation {
  clear: both;
}*/

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
    margin-top: 1em;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
    margin-top: 1em;
  }
}

.menu-all-pages-container {
  float: left;
}




