/* Main Navigation*/
.main-navigation {
  display: block;
  padding-left: 18em;
  padding-top: 1em;

}

.menu-container {
  width: auto;
  display: none;

  @include breakpoint($bp-medium-min) {
    display: block;

    ul {
      display: block;
      width: auto;
      float: left;
      padding: 0;
      padding-top: 0.4em;
    }

    li {
      position: relative;
      display: inline;
      width: auto;
      padding: 0;
      //border-right: 1px dotted #ddd;
      padding-right: 0.2em;

      &:hover > a,
      &:focus > a {
        color: $header-links-color;
      }

      &:after {
        content: "\2022";
        font-size: 1.2em;
        color: $primary-main-color;
      }
    }

    a {
      text-decoration: none;
      text-transform: capitalize;
      padding: 0 0.875em;
      letter-spacing: 0;
      margin: 0;
      font-size: 1rem;
      font-family: $font-secondary;
      transition: 0.3s;

      &:hover {
        color: $link-hover-color !important;

        &::before {
          width: 100%;
          left: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background: #10cca9;
        transition: all 0.3s;
      }

    }

    .current-menu-item {
      a {
        color: $secondary-main-color;
      }
    }

  }

}

.menu-all-pages-container {
  float: left;
}

/* Small menu. */
.menu-toggle {
  float: left;
  padding: 0.5em 1em;
  display: block;

  @include breakpoint($bp-medium-min) {
    display: none;

  }
}

.main-navigation.toggled ul {
  display: block;
}

/* Mobile Menu */
.mobile-menu-container {
  position:relative;
}

.mobile-menu {
  position:absolute;
  left:0;
  top: $header-size;
  z-index:1;
  visibility:hidden;
  opacity:0;
  width:100%;
  filter:alpha(opacity=0);
  transition: all 1s ease-in-out;

  .header-social-icons {
    display: block;
    text-align: center;
    padding: 0.5em 0;

    li {
      width: 16%;
    }
  }

  @include breakpoint($bp-medium-min) {
    display: none;

  }


  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid $header-border-color;


    &:hover > a,
    &.focus > a {
    }
  }
  a {
    color: $primary-main-color;
    display: block;
    font-size: 1.2em;
    font-family: $font-secondary;
    padding: 0.5em;

    &:hover {
      //text-decoration: underline;
      color: $link_hover-color;

    }

  }

}

.mobile-menu-open {
  visibility:visible;
  opacity:1;
  filter:alpha(opacity=100);
  z-index: 200;
  background: $background-secondary-color;
  transition: all 1s ease-in-out;
}


@keyframes animate-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-previous, .post-previous {
    float: left;
    width: 50%;
    margin-top: 2em;
  }

  .nav-next, .post-next {
    float: right;
    text-align: right;
    width: 50%;
    margin-top: 2em;
  }

  .post-previous,
  .post-next {
    width: 100%;
  }

  .post-next-content {
    float: left;
    width: 100%;
    margin-top: -5px;
    text-align: center;
  }

  .post-previous-content {
    float: right;
    width: 100%;
    margin-top: -5px;
    text-align: center;
  }

  .post-previous-icon {
    float: left;
    font-size: 4em;
    line-height: 30px;
    margin-right: 20px;
    display: none;
  }

  .post-next-icon {
    float: right;
    font-size: 4em;
    line-height: 30px;
    margin-right: 20px;
    display: none;
  }

  h5 {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .post-label {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #999;
    line-height: 28px;
  }
}

@include breakpoint(481px) {
  .post-navigation {
    .post-next, .post-previous {
      width: 50%;
    }

    .post-previous-icon,
    .post-next-icon {
      display: block;
    }

    .post-next-content, .post-previous-content {
      width: 85%;
    }
  }
}


#nav-icon {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 0.5em auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: $primary-main-color;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(even) {
      left: 50%;
    }
    &:nth-child(odd) {
      left: 0;
    }
    &:nth-child(1), &:nth-child(2) {
      top: 0;
    }
    &:nth-child(3), &:nth-child(4) {
      top: 10px;
    }
    &:nth-child(5), &:nth-child(6) {
      top: 20px;
    }
  }
  &.open span {
    &:nth-child(1), &:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:nth-child(2), &:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:nth-child(1) {
      left: 3px;
      top: 7px;
    }
    &:nth-child(2) {
      left: calc(50% - 3px);
      top: 7px;
    }
    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }
    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }
    &:nth-child(5) {
      left: 3px;
      top: 15px;
    }
    &:nth-child(6) {
      left: calc(50% - 3px);
      top: 15px;
    }
  }
}






