/* Main Navigation*/
.main-navigation {
  display: block;
  //padding-top: 1.2em;
  padding-left: 8em;
  padding-top: 1em;

  @include breakpoint($bp-large-min) {
    padding-left: 18em;
  }
}

.menu-container {
  width: auto;
  display: none;

  @include breakpoint($bp-medium-min) {
    display: block;

    ul {
      display: block;
      width: auto;
      float: left;
      padding: 0;
      padding-top: 0.4em;
    }

    li {
      position: relative;
      display: inline;
      width: auto;
      padding: 0px;
      //border-right: 1px dotted #ddd;
      padding-right: 0.2em;

      &:hover > a,
      &:focus > a {
        color: $header-links-color;
      }

      &:after {
        content: "\2022";
        font-size: 1.2em;
        color: $primary-main-color;
      }
    }

    a {
      text-decoration: none;
      text-transform: capitalize;
      padding: 0 0.875em;
      letter-spacing: 0;
      margin: 0;
      font-size: 1rem;
      font-family: $font-secondary;
      transition: 0.3s;

      &:hover {
        color: $link-hover-color !important;

        &::before {
          width: 100%;
          left: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        width: 0;
        height: 2px;
        background: #10cca9;
        transition: all 0.3s;
      }

    }

    .current-menu-item {
      a {
        color: $secondary-main-color;
      }
    }

  }

}

.menu-all-pages-container {
  float: left;
}

/* Small menu. */
.menu-toggle {
  float: left;
  padding: 0.5em 1em;
  display: block;

  @include breakpoint($bp-medium-min) {
    display: none;

  }
}

.main-navigation.toggled ul {
  display: block;
}

/* Mobile Menu */
.mobile-menu {
  display: none;

  .header-social-icons {
    display: block;
    text-align: center;
    padding: 0.5em 0;
    //border-top: solid 2px #e7e7e9;

    li {
      width: 16%;
    }
  }
}

.mobile-menu-container {
  padding-top: $header-size;

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    /*    ul {
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
          float: left;
          position: absolute;
          top: 1.1em;
          left: -999em;
          z-index: 99999;
          line-height: 1.5rem;
          background: $background-secondary-color;

          ul {
            left: -999em;
            top: 0;
          }

          li {
            &:hover > ul,
            &.focus > ul {
              left: 100%;
            }
          }

          a {
            width: 200px;
          }

          :hover > a,
          .focus > a {
          }

          a:hover,
          a.focus {
          }
        }

        li:hover > ul,
        li.focus > ul {
          left: auto;
        }*/
  }

  li {
    position: relative;
    margin: 0;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid $header-border-color;

    &:hover > a,
    &.focus > a {
    }
  }
  a {
    color: $primary-main-color;
    display: block;
    font-size: 1.2em;
    font-family: $font-secondary;
    padding: 0.5em;

    &:hover {
      //text-decoration: underline;
      color: $link_hover-color;

    }

  }

}

.mobile-menu-open {
  display: block;
  background: $background-secondary-color;
  position: absolute;
  width: 100%;
  z-index: 200;
  top: 0;
  left: 0;
  border-bottom: 1px solid $header-border-color;
}

.mobile-menu {
  @include breakpoint($bp-medium-min) {
    display: none;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {

  .site-main & {
    margin: 0 0 1.5em;
    //overflow: hidden;
  }

  .nav-previous, .post-previous {
    float: left;
    width: 50%;
    margin-top: 2em;
  }

  .nav-next, .post-next {
    float: right;
    text-align: right;
    width: 50%;
    margin-top: 2em;
  }

  .post-previous,
  .post-next {
    width: 100%;
  }

  .post-next-content {
    float: left;
    width: 100%;
    margin-top: -5px;
    text-align: center;
  }

  .post-previous-content {
    float: right;
    width: 100%;
    margin-top: -5px;
    text-align: center;
  }

  .post-previous-icon {
    float: left;
    font-size: 4em;
    line-height: 30px;
    margin-right: 20px;
    display: none;
  }

  .post-next-icon {
    float: right;
    font-size: 4em;
    line-height: 30px;
    margin-right: 20px;
    display: none;
  }

  h5 {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 10px;
    text-transform: uppercase;
  }

  .post-label {
    font-size: 22px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #999;
    line-height: 28px;
  }
}

@include breakpoint(481px) {
  .post-navigation {
    .post-next, .post-previous {
      width: 50%;
    }

    .post-previous-icon,
    .post-next-icon {
      display: block;
    }

    .post-next-content, .post-previous-content {
      width: 85%;
    }
  }

}
