.comments-title {
  display: block;
}

.comment-list {
  list-style: none;

  ol {
    list-style: none;
  }
}

.comment-avatar {
  float: left;
  margin-right: 20px;
}

.comment-content {
  overflow: hidden;

  footer{
    clear: both;
    padding: 1em;

  }
}

.comment-metadata {
  display: inline-block;
}

.comment-form {

  label {
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  input[type="search"] {
    width: 100%;
  }

  .form-submit {

    input[type="submit"] {
      width: 100%;
      font-size: 110%;
    }
  }
}

@include breakpoint(481px) {
  .comment-form-author, .comment-form-email, .comment-form-url {
    width: 32%;
  }
}


#disqus_thread {
  float: left;
  width: 100%;
  background: white;
  padding: 0.5em;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}


