.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1rem;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0.5em 0.5em 0 0.5em;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.cat-links {
  position: absolute;
  top: 0;
  left: 0;

  a {
    color: white;
  }
}

.entry-header {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 85%;
  height: 60%;
  border: 1px solid #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  @include breakpoint($bp-xsmall-min $bp-medium-max) {
    height: 50%;
  }

}

.entry-title {
  text-align: center;
  border-top: 1px solid #fff;
  margin: 10px 10px;
  padding-top: 20px;
  color: white;
  text-transform: capitalize;

  a {
    color: white;
    text-transform: capitalize;

    &:hover {
      text-shadow: #fff 0 0 10px;
    }
  }

  @include breakpoint($bp-medium-min) {
    padding-top: 0.5em;
  }

}

.entry-meta {
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 10px 10px;
  font-size: 0.6em;
  padding-top: 5px;

  a {
    color: white;

    &:hover {
      text-shadow: #fff 0 0 5px;
    }
  }

  .comments-link {
    margin-left: 10px;
  }

  .edit-link {
    margin-left: 10px;
  }

  @include breakpoint($bp-xsmall-min $bp-medium-max) {
    font-size: 0.8rem;
  }

  @include breakpoint($bp-medium-min) {

    padding-top: 0;

  }

}

.entry-meta-single {
  @include breakpoint($bp-medium-min) {
    margin: 1em;
    font-size: 1em;

    .comments-link {
      margin-left: 30px;
    }

    .edit-link {
      margin-left: 30px;
    }
  }

}

.entry-title-single {
  @include breakpoint($bp-xsmall-min $bp-medium-max) {
    //padding-top: 1.5em;
    font-weight: 700;
    font-stretch: normal;
    font-size: 1.6rem;
  }

  @include breakpoint($bp-medium-min) {
    //padding-top: 2em;
    font-weight: 700;
    font-stretch: normal;
    font-size: 2.4rem;
    line-height: 60px;
    margin: 0.5em;
  }

}

/*.article-featured-image {
  position: relative;

  img {
    transition: all .2s ease-in-out;

    &:hover {
      //  transform: scale(1.1);
    }
  }
}*/

/* Articles */
.article-single {
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  //padding: 0.5rem;
  float: left;
  background: $background-secondary-color;
  width: 100%;

  .article-featured-image {
    position: relative;
    img {
      width: 100%;
    }
  }
}

.article-masonry {
  @extend .article-single;
  width: 100%;
  @include breakpoint($bp-small-min $bp-large-max) {
    width: 49%;
  }
  @include breakpoint($bp-large-min) {
    width: 32.6%;
  }

}