.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1rem;
}

.byline,
.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 0.5em;
}

.entry-footer {
  margin: 0.5em;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.categories {
  padding: 0.5em;
}

.cat-item {
  display: inline-block;
  background: $category-color;
  margin-bottom: 1.5em;
  line-height: 1.6em;
  font-size: 0.5em;
  font-weight: 700;
  padding: 0.5em 1em !important;
  text-transform: uppercase;
  color: $button-text-color;

  a {
    color: $button-text-color !important;
  }

  &:hover, &:focus {
    background: scale-color($category-color, $lightness: -15%);
    outline: 0;
  }
}

.page-header {
  margin: 0.5em;
}

.entry-header {
  margin: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em 0.5em;
  text-align: center;


  .cat-size {
    font-size: 70%;

    @include breakpoint($bp-medium-min) {
      font-size: 100%;
    }
  }

}

.entry-title {
  color: white;
  text-transform: capitalize;
  margin: 0;

  a {
    color: white;
    text-transform: capitalize;

    &:hover {
      text-shadow: #fff 0 0 10px;
    }
  }

  @include breakpoint($bp-xsmall-min $bp-small-max) {
    font-size: 1.7rem;
  }

}

.entry-meta {
  color: white;
  //text-align: center;
  text-transform: uppercase;
  //margin: 10px 10px;
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 0.2em;
  margin-top: 0.5em;

  a {
    color: white;

    &:hover {
      text-shadow: #fff 0 0 5px;
    }
  }

  .comments-link {
    margin-left: 10px;
  }

  .edit-link {
    margin-left: 10px;
  }

  @include breakpoint($bp-xsmall-min $bp-small-max) {
    font-size: 0.8rem;
  }

  @include breakpoint($bp-medium-min) {

    //  padding-top: 0;

  }

}

.entry-meta-single {
  @include breakpoint($bp-medium-min) {
    margin: 1em;
    font-size: 1em;

    .comments-link {
      margin-left: 30px;
    }

    .edit-link {
      margin-left: 30px;
    }
  }

}

.entry-title-single {
  font-weight: 700;
  font-stretch: normal;

  @include breakpoint($bp-xsmall-min $bp-small-max) {
    font-size: 1.6em;
  }

  @include breakpoint($bp-small-min $bp-large-max) {
    font-size: 2.4em;
    line-height: 60px;
    //margin: 0.5em;
  }

  @include breakpoint($bp-large-min) {
    font-size: 3.7em;
    line-height: 60px;
    //margin: 0.5em;
  }
}

/* Articles */
.article-single {
  //box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
  //padding: 0.5rem;
  float: left;
  background: $background-secondary-color;
  width: 100%;

  .article-featured-image {
    position: relative;
    font-size: 0.9rem;
    overflow: hidden;


    &::before {
      position: absolute;
      top: 0;
      left: -75%;
      z-index: 2;
      display: block;
      content: '';
      width: 50%;
      height: 100%;
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
      transform: skewX(-25deg);
    }

    &:hover::before {
      animation: shine 1.5s;
    }

    .post-link::before {
      content: "";
      position: absolute;
      right: 0px;
      bottom: 6px;
      display: block;
      height: 100%;
      width: 100%;
      //background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }

    img {
      width: 100%;
      //min-height: 460px;
      /*      transform: scale(1);
            transition: .3s ease-in-out;

            &:hover {
              transform: scale(1.3);
            }*/
    }
  }
}

.article-masonry {
  @extend .article-single;
  width: 100%;
  @include breakpoint($bp-small-min $bp-large-max) {
    width: 49%;
  }
  @include breakpoint($bp-large-min) {
    width: 32.6%;
  }

}

.not-found {
  float: left;
  width: 100%;

  .search-form {
    margin-bottom: 1em;
  }

  .widget {
    h2 {
      text-align: center;
    }
  }

}

.page-header {
  margin: 0.5em;
}

.archive-years {
  margin: 0 1em;
}

.archive-list {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
    display: inline-block;
    padding: 1em 1em;
    background: #eee;
    margin: 0.5em;
    line-height: 1.6em;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: $secondary-main-color;
    cursor: default;

  }

  .archive-month {
    background: $secondary-main-color;
    cursor: pointer;

    a {
      color: $button-text-color;
    }

    &:hover, &:focus {
      background: scale-color($secondary-main-color, $lightness: -15%);
      outline: 0;
    }
  }

}
